@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    
}
body , html{
    overflow-x: hidden;
    height: 100vh;
    width: 100vw; 
}
body{
    background-color: #f5dda823;
}
:root{
    --font1: "Open Sans";
    --font2: "Montserrat";
    --font3: "Radley";
}
header > nav{
    padding-top: 60px;
    text-align: center;
}
nav > a{
    display: inline;
    text-decoration: none;
    font-family: var(--font1);
    font-size: 12px;
    padding: 4px;
}
.menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color:  #FDFAF3;
    padding-bottom: 20px;
    z-index: 1000;
}
h2{
    font-family: var(--font2);
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 295;
  font-style: normal;
  text-align: center;
  padding-top: 120px;
}
h1{
  
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 550;
  font-style: normal;
  text-align: center;
  padding-top: 50px;
  color: #E7B84B;
}
h3{
    font-family: var(--font3);
    font-style: italic;
    font-size: 16px;
    text-align: center;
    padding-top: 80px;  
}
h3 > a{
    text-decoration: none;
}

section > h1{
    color: black;
    font-size: 16px;
    text-align: left;
    padding-left: 30px;
}
section > h2 {
    display: block;
    
    color: #E7B84B;
    text-align: left;
    font-weight: bolder;
    padding-left: 30px;
    padding-top: 10px;
}
div >h3{
    text-align: left;
    font-family: var(--font1);
    font-weight: normal;
    padding-left: 10px;
    padding-top: 23px;
    font-size: 15px;
}
img#fotosobremim{
    height: 290px;
    width: 200px;
    border-radius: 50% 50% 0% 0%;
}

.conteudo{
    display: flex;
}
.imagem{
    display: flex;
    float: right;
    padding-top: 35px;
    transform: translateX(15px);
    
}
.texto{
    display: table-cell;
    float: left;
    width: 300px;
    transform: translateX(20px);
}
#container1{
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    padding-top: 20px;
}
.item1{
    height: 150px;
    width: 100px;
    border-radius: 50% 50% 0% 0%;
}
#container2{
    display: flex;
    align-content: center;
    justify-content: space-evenly;
}
section > h3.item2{
    padding-top: 5px;
}
.item3{
    border: none;
    border-top: 2px solid #E7B84B;
    width: 14%;
    margin: 0 auto;
    border-radius: 10%;
}
#container3{
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    padding-top: 10px;
    
}
#item3p1{
    display: flex;
    transform: translateX(18px);
}
#item3p2{
    display: flex;
    transform: translateX(-18px);
}
#container4{
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    padding-top: 10px;
}

#container5{
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    padding-top: 20px;
    flex-wrap: wrap;
}
.item5{
    height: 100px;
    width: 80px;
}
#projetos{
    height: 120px;
    width: 100px;
    padding: 30px;
}
#container6{
    display: flex;
    align-content: center;
    justify-content: space-evenly;
}
.item6{
    height: 120px;
    width: 100px;
    padding-top: 10px;
}
h3.item6{
    padding-top: 10px;
    font-weight: normal;
    height: 30px;
}
#container7{
    display: flex;
    align-content: center;
    justify-content: space-evenly;
}
.item7{
    height: 120px;
    width: 100px;
    padding-top: 10px;
}
h3.item7{
    padding-top: 10px;
    font-weight: normal;
    height: 30px;
}
#container8{
    display: flex;
    align-content: center;
    justify-content: space-evenly;
}
.item8{
    height: 120px;
    width: 100px;
    padding-top: 10px;
}
h3.item8{
    padding-top: 10px;
    font-weight: normal;
    height: 30px;
}
#container9{
    display: flex;
    align-content: center;
    justify-content: space-evenly; 
}
h3.item9{
    padding-top: 20px;
    height: 30px;
}
#container10{
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    padding-top: 10px;
}
p.item10{
    font-size: 14px;
}
img#ultimaf{
        height: 250px;
        width: 170px;
        float: left;
        border-radius: 10% 48% 0% 0%;
        padding-top: 80px;
        padding-left: 40px;
        padding-bottom: 50px;
        
}
h2#textofinal{
    padding-top: 80px;
    font-size: 22px;
}
.barrafinal{
    border: none;
    border-top: 2px solid #E7B84B;
    width: 80%;
    margin: 0 auto;
    border-radius: 10%;
    
}
h3#dadosfinais{
    font-weight: normal;
    padding-top: 20px;
    
    padding-left: 80px;
}
img#whats{
    height: 30px;
    width: 30px;
    padding-top: -50px;
    display: block;
    transform: translate(665% , -112%);
}
img#email{
    height: 30px;
    width: 30px;
    padding-top: -50px;
    display: block;
    transform: translate(37% , -309%);

}